body{
    background-color: #c5c5c5 !important;
}

.navbar{
    background-color: #00000075 !important;
}

.card{
    background-color: #e1e1e1 !important;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
}

.card:hover{
    opacity: 0.5;
}

.img-card{
    /* width: 100%; */
    padding: 0.5rem;
    height: 400px;
    object-fit: contain;
    }

.pagination{
    float: right;
}